#root, #projects, #contact {
  background-color: #fafafa;
}

#starter{
  background-color: #1e1c1c;
  position: relative;
}

/* #intro{
  position: relative;
} */

#flyingbutterfly{
  position: absolute;
  top: 93%;
  left: 50%;
  width: 250px; /* Set the size of the div */
  height: 250px;
  transform: translate(-50%, -50%);
  background-image: url('BUTTERFLY-FLYING.png'); /* Set the image as background */
  background-size: contain; /* Ensures the whole image is visible */
  background-repeat: no-repeat; /* Prevents repeating the image */
  background-position: center; /* Centers the image inside the div */
  display: block; /* Ensures it's treated as a block element */
}

body {
  cursor: url('/Cursor.svg'), auto;
}

.svg-icon:hover {
  fill: red;
}
